body {
    background-color: #FAFDD6;
    margin: 0;
}
div {
    margin-top: 0px;
    margin-left: 0px;
    margin-right: 0px;
}
h1 {
    margin-top: 0px;
    margin-left: 0px;
    margin-right: 0px;
}
.top_container {
    background-color: #A2B38B;
    height: 200px;
    width: 200px;
    border: solid 10px;
    padding: 20px;
}
.middle_container {
    background-color: plum;
    height: 200px;
    width: 200px;
    border: solid 20px;
    margin-left: 260px;
}
.bottom_container {
    background-color: antiquewhite;
    width: 200px;
    height: 200px;
    border: solid 10px;
    margin-left: 500px;
}